<div class="container">
  <div class="card-group">
    <div class="card" routerLink="/categories">
      <img
        class="card-img-top"
        src="/assets/category.jpg"
        alt="Card image cap"
        style="width: 100%; height: 200px"
      />
      <div class="card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">manage your real estate category details here</p>
      </div>
    </div>
    <div class="card" routerLink="/posts">
      <img
        class="card-img-top"
        src="/assets/posts.jpeg"
        alt="Card image cap"
        style="width: 100%; height: 200px"
      />
      <div class="card-body">
        <h5 class="card-title">Posts</h5>
        <p class="card-text">manage your real estate posts Details Here</p>
      </div>
    </div>
    <div class="card" routerLink="/airbnb">
      <img
        class="card-img-top"
        src="/assets/airbnb.jpeg"
        alt="Card image cap"
        style="width: 100%; height: 200px"
      />
      <div class="card-body">
        <h5 class="card-title">Air-Bnb</h5>
        <p class="card-text">manage your real estate Air-Bnb Details Here</p>
      </div>
    </div>
  </div>
</div>
