

<div class="container table-box">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-effect bg-gradient">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Real Estate Posts</h3>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="50"
                    fill="currentColor"
                    class="bi bi-house-door"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
                    />
                  </svg>
                    <p>From here you can manage your Real Estate Posts.</p>
                    <button class="btn btn-info bg-theme" routerLink="/posts/new">Add new Assets</button>
                    <button class="btn btn-warning ml-2" routerLink="/">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table row-border hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Post Image</th>
                                    <th>Price</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let post of postArray; let i=index">
                                    <td width="10">{{i+1}}</td>
                                    <td width="100" (click)="openImageCarousel(post.data.postImgPath)"><i class="fas fa-camera h3"></i></td>
                                    <td width="200">{{post.data.Price}} $</td>
                                    <td width="200">{{post.data.title}}</td>
                                    <td>{{post.data.category.category}}</td>
                                    <td>{{post.data.createdAt.toMillis()|date}}</td>
                                    <td>                                      
                                        <button class="btn btn-sm btn-warning" routerLink="/posts/new" [queryParams]="{id:post.id}">Edit</button>
                                        <button class="btn btn-sm btn-danger m1-2" (click)="onDelete(post.data.postImgPath,post.id)">Delete</button>
                                        <button *ngIf="!post.data.isFeatured" class="btn btn-sm btn-success ml-2" (click)="onFeatured(post.id,true)">Mark Featured</button>
                                        <button *ngIf="post.data.isFeatured" class="btn btn-sm btn-info ml-2" (click)="onFeatured(post.id,false)">Remove Featured</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- This is for the img showing inside of the box (click on the camera icon) -->
<div class="box" *ngFor="let post of postArray; let i=index" id="imgBox" (click)="closeImageCarousel()">
</div>


